body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);  /* Add gradient background */
    color: #343a40;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#header-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#avatar {
    width: 100px;
    height: 100px;
    background-color: #007bff;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

#avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    color: #007bff;
    margin: 0;
}

#inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#inputText {
    width: 80%;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #007bff;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

#inputText:focus {
    outline: none;
    border-color: #0056b3;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.misspelled {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
    text-decoration-thickness: 1px;
    padding-bottom: 2px;
    transition: text-decoration-color 0.3s;
}

.misspelled:hover {
    text-decoration-color: darkred;
    background-color: rgba(223, 125, 125, 0.2);
}

#suggestions {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow: hidden;
    z-index: 1000;
    width: 300px; /* Adjust to match the width in your image */
    border-radius: 8px;
    padding: 10px 0;
    display: none;
    flex-direction: column; /* Add this line */
}

#suggestions li {
    list-style-type: none !important;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: default;
    transition: background-color 0.3s, color 0.3s;
}

#suggestions li:hover {
    background-color: #d6edef; 
    
}

#suggestion-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
    width: 100%;
}



.bi bi-slash-circle:hover::after { /* Corrected class name */
    content: "Ignore All";
    position: absolute;
    background-color: #fff;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: -20px;
    left: -10px;
}


.bi-file-earmark-plus:hover::after { /* Corrected class name */
    content: "Add to Dictionary";
    position: absolute;
    background-color: #fff;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: -20px;
    right: -10px;
}

.bi-file-earmark-plus{
    margin-right: 20px;
}